.box{
    height: 100px;
    width: 100px;
}

.green{
    background-color: green;
    float: right;
}

.blue{
    background-color: blue;
    float: left;
}

.red{
    background-color: red;
    clear: both;
    margin-left: 40%;
}
